.section {
    padding: 50px 0;
    @include element('title') {
        color: #fff;
        font-size: 64px;
        text-align: center;
        margin: 0 0 50px 0;
        font-family: 'FuturaMedium';
        @media(max-width: $containerSmall){
            font-size: 48px;
            img{
                max-height: 70px;
            }
        }
        @include modifier('image') {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media(max-width: $containerMiddle) {
                flex-direction: column;
            }
            @include modifier('center') {
                justify-content: center;
                font-size: 72px;
                img {
                    margin: 0 40px;
                }
                @media(max-width: $containerSmall) {
                    font-size: 48px;
                    img {
                        margin-top: 10px;
                        max-height: 75px;
                    }
                }
            }
        }
    }
    @include element('image') {
        background-position: center;
        background-size: cover;
        position: relative;
    }
    @include element('devs') {
        background-image: url('../../resources/img/devs-overlay.jpg');
    }
    @include element('footer') {
        background-image: url('../../resources/img/footer-overlay.jpg');
    }
    @include element('hero') {
        background-image: url('../../resources/img/hero-overlay.jpg');
        padding: 80px 0;
        @include modifier('desc') {
            text-align: center;
            margin-bottom: 50px;
            font-size: 17px;
        }
        .btn {
            max-width: 370px;
        }
        @media(max-width: $containerMiddle) {
            .section__logo {
                img {
                    margin: 20px 0 5px 0;
                }
            }
        }
    }
    @include element('logo') {
        display: flex;
        margin-bottom: 120px;
        justify-content: center;
        align-items: center;
        @media(max-width: $containerSmall){
            margin-bottom: 80px;
        }
        @include modifier('image') {
            max-height: 50px;
            margin: 0 15px;
        }
        span {
            font-family: $fontLato;
            font-size: 50px;
            color: #ffff;
        }
    }
}